
h1{
    font-family: 'Libre Baskerville', serif;
    padding-top: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;    
  }
  p{
    font-family:'Caveat', cursive;
  }
  
  img{
    
    border: 5px solid white;
    margin: 20%;
    margin-bottom: 0;
    margin-top: 5%;
    height: 60%;
    width: 50%;
  }
  div{
    margin-top: 0;    
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  